
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/*font-family: 'Crimson Text', serif; */

* {
background-color: #f1d0b1;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Crimson Text', serif;
}

#indexLogo {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin: 2rem;
}

.seccionh1{ 
    background-color: #5A4A59;
    padding: 25px;
    border: 2px solid rgb(92, 25, 83);
    margin: 10px;
    text-align: justify;
    color: rgb(158, 29, 89);
}

.navbar {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    border: 12px; 
    border-style: solid;
    border-color: greenyellow;
    list-style: none;
}

.navbar li {
    border-radius: 5px 20px 10px;
    flex: 1;
    border: 4px;
    border-style: solid;
    border-color: #A0628B;
    list-style: none;
}

h1 {
    background-color: blue;
    text-align: center;
    border: 2px dashed #938990;
    border-style: solid;
    font size: 500px;
}

h1:hover {
    color: #3A2138;
}

.footerIndexDerechosReservadosMexa {
   background-color: #b35d77;
   color: #5A4A59;
   font-size: 50px;
}

main {
    position: sticky;
    top: 10 px;
}

#quienesSomos {
    font-size: 22px;
}

p {
    text-align: left;
    display: flex;
    text-transform: capitalize;
}

.iconofacebook { 
    font-size: 30px;
}

.iconofacebook:hover {
    color: aqua;
    background-color: bisque;
}

.laclase-iridiani {
    position:absolute;
    top: 10px; left: 780px;
    
}

.testimonialgrid {
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    "imagen imagen two  five"
    "three four four five";
    padding-block: 2rem;
    width: min(95%,70rem)
    margin-inline: auto;
}

